:root{
  background: white;
  color: black;
}



* {
  font-family: 'Iropke Batang', serif; 

}

*:focus{
  outline: none;
}

.main {
  text-align: center;
  margin-top: 50px;
}

.nav{
  color: black;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-color: black;
}

.nav a:visited{
  color: black;
  text-decoration: none !important;
}

.nav a:hover{
  color: gray;
  transition: 0.2s;
}

.nav a{
  color: black;
  display: inline;
  margin-left: 10px;
  text-decoration: none !important;
}

a{
  color:black;
  text-decoration: none !important;
}

a:visited{
  color:black;
  text-decoration: none !important;
}

.login{
  float: right;
}

.logout{
  float: right;
  margin-right: 30px;
  margin-left: 10px;
}

.register{
  float: right;
  margin-right: 10px;
  margin-left: 0px;
}

p{
  margin:0px;
}

.JournalViewBox{
  margin-bottom: 30px;
  padding: 10px;
}

.JournalViewBoxDate{
  position: relative;
  left:0px;
  padding: 10px;
  margin: 10px;
  margin-right: 2em;
}

.JournalViewBoxDel:visited{
  color: black;
  text-decoration: none !important;
}

.JournalViewBoxDel:hover{
  color: gray;
  transition: 0.2s;
}

.JournalViewBoxDel{
  display: inline;
  margin-left: 10px;
  text-decoration: none !important;
  position: relative;
  right: 0px;
  padding: 10px;
  margin: 10px;
}

.JournalViewBoxFix:visited{
  color: black;
  text-decoration: none !important;
}

.JournalViewBoxFix:hover{
  color: gray;
  transition: 0.2s;
}

.JournalViewBoxFix{
  position: relative;
  display: inline;
  text-decoration: none !important;
}

.JournalViewBoxContent{
  padding-top: 50px;
  padding-bottom: 10px;
}

.RegisterForm{ 
  margin-left: auto; 
  margin-right: auto; 
}

input{
  background-color: #cfd0d1;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: 0 !important;
  width: 20em;
  height: 3em;
  margin: 5px;
  padding: 5px;
  transition: 0.3s;
}

input:hover{
  background: black;
  color:  #cfd0d1;
  transition: 0.3s;
}

input:hover::placeholder{
  color: #cfd0d1 !important;
  transition: 0.3s;

}

input:focus{
  background: black;
  color:  whitesmoke;
  transition: 0.3s;
}

input:focus::placeholder{
  color: #cfd0d1 !important;
  transition: 0.3s;
}

input::placeholder{
  opacity: 0.5;
  transition: 0.3s;
}


button {
  margin: 5px;
  color: #333;
  font-size: 15px;
  background: #cfd0d1;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: 0 !important;
}

button:hover {
  transition: 0.3s;
  background: #333;
  color: white;
  text-decoration: none;
}

/* 저널 에디터의 크기 조절 */
.JournalEdit {
  font-size: 15px;
  width: 80%;
  min-height: 20em;
  max-height: 20em;
  margin-right: auto;
  margin-left: auto;
  border: none;
}

/* 다크모드 적용 */
@media (prefers-color-scheme: dark) {
    :root{
      background: black;
      color: white;
    }

    input{
      background: #333;
      color: white;
      border:none;
      transition: 0.3s;
    }

    input:hover{
      background: #cfd0d1;
      color:  black;
      transition: 0.3s;
    }

    input:hover::placeholder{
      color: black !important;
      transition: 0.3s;
    }

    input:focus{
      background: #cfd0d1;
      color:  black;
      transition: 0.3s;
    }

    input:focus::placeholder{
      color: black !important;
      transition: 0.3s;

    }

    ::placeholder{
      color: whitesmoke !important;
      transition: 0.3s;

    }
    
    .nav{
      border-bottom: 1px solid;
      border-color: white;
    }

    .nav a:visited{
      color: white;
      text-decoration: none !important;
    }
    
    .nav a:hover{
      color: gray;
      transition: 0.2s;
      text-decoration: none !important;
    }
    
    .nav a{
      color: white;
      text-decoration: none !important;
    }

    button {
      color: #cfd0d1;
      background: #333;
      border: none;
      box-shadow: none;
    }

    button:hover{
      color: #333;
      background: #cfd0d1;
    }

    .JournalViewBox{
      background-color: #333;
    }

    /* 저널 에디터 */
    .JournalEdit {
      color: white;
      background: #333;
    }

    .JournalEdit ::placeholder{
      color: #cfd0d1;
    }

    .JournalViewBoxDate ,.JournalViewBoxDel{
      color: white;
    }

    .JournalViewBoxFix{
      color: white;
      text-decoration: none !important;
    }
}

/* se */
@media all and (min-width:320px){ 
  :root{
    font-size: 15px;
  }

  .JournalViewBoxDate{
    position: relative;
    left:0px;
    padding: 10px;
    margin: 10px;
    margin-right: 2em;
  }


  input{
    text-align: left;
    border: none;
    width: 90%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  input::placeholder{
    text-align: left;
  }

  button{
    font-size: 1em;
    width: 40%;
    height: 30%;
  }

}

/* 일반적인 폰 */
@media all and (min-width:425px){ 
  .JournalViewBoxDate{
    position: relative;
    left:0px;
    padding: 10px;
    margin: 10px;
    margin-right: 6em;
  }
}

/* 테블릿 */
@media all and (min-width:768px){ 
  :root{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .JournalViewBoxDate{
    position: relative;
    left:0px;
    padding: 10px;
    margin: 10px;
    margin-right: 10em;
  }

  input{
    text-align: left;
    border: none;
    width: 40%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  
  button{
    font-size: 1em;
    width: 8em;
    height: 30%;
  }
}

/* 데스크탑이나 고해상도 테블릿 */
@media all and (min-width:1024px){ 
    :root{
      width: 65%;
      margin-left: auto;
      margin-right: auto;
    }

    .JournalViewBoxDate{
      position: relative;
      left:0px;
      padding: 10px;
      margin: 10px;
      margin-right: 10em;
    }

    input{
      text-align: left;
      border: none;
      width: 300px;
      height: 40px;
      margin-right: auto;
      margin-left: auto;
    }

    button{
      font-size: 1em;
      width: 8em;
      height: 30%;
    }
  
}
